<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button
        type="button"
        class="btn btn-info btn-lg"
        data-toggle="modal"
        data-target="#myModal"
      >
        GPG Public Key
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <h4 class="modal-title">Public Key</h4>
            </div>
            <div class="modal-body">
              <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEYpEjyRYJKwYBBAHaRw8BAQdAP4wtNmeFwkO7DbFm27RXcXpGCKFrG4Pq0YD5
JkV3Bq60H0lzc2EgQWxraG91cnkgPGlfa2hAaWNsb3VkLmNvbT6ImQQTFgoAQRYh
BNzXUV37zN67a/piYuuOubOwbVhiBQJikSPJAhsDBQkDwmcABQsJCAcCAiICBhUK
CQgLAgQWAgMBAh4HAheAAAoJEOuOubOwbVhijFYA/24540jM3ZzkVZ/hMVxxc8rb
OGpDUYGm/FU96ArvYd4dAQDx7JhLiD58QCBA9bWVvH2PBj5qZj+xq2O/NIytF4iI
Brg4BGKRI8kSCisGAQQBl1UBBQEBB0BFDu208ZTwMKAFz8PnBWuIg+CHV9OFVCPT
n/7UbYG2FQMBCAeIfgQYFgoAJhYhBNzXUV37zN67a/piYuuOubOwbVhiBQJikSPJ
AhsMBQkDwmcAAAoJEOuOubOwbVhiZCwBAJgX93vL65+GrJtQJMeApvgLB165U+wG
MbstGpHQBrh8AP0ZRrKUoAKzMhti7yAv4FNDFyZgwq/Fd1tGYBJ/bQJhDg==
=PoxL
-----END PGP PUBLIC KEY BLOCK-----
              </pre>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
